# npm
node_modules/

# Electron Forge
out/

# Inno Setup
**/Output/

### VisualStudioCode ###
.vscode/* 
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history
